[changelog]
# A Tera template to be rendered for each release in the changelog.
header = ""
body = """---
title: "{% if version %}{{ version }}{% else %}Unreleased{% endif %}"
description: "Changelog for {% if version %}{{ version }}{% else %}Unreleased{% endif %} changes"
date: "{% if timestamp %}{{ timestamp | date(format="%Y-%m-%d") }}{% else %}{{ now() | date(format="%Y-%m-%d") }}{% endif %}"
version: "{% if version %}{{ version }}{% else %}HEAD{% endif %}"
commitUrl: "https://github.com/JBChangelogs/JailbreakChangelogs/commit/{% if version %}{{ version }}{% else %}HEAD{% endif %}"
---

{% for group, commits in commits | group_by(attribute="group") %}
### {{ group | striptags | trim | upper_first }}

{% for commit in commits %}
- {% if commit.scope %}**{{ commit.scope }}**: {% endif %}{{ commit.message | upper_first }} ([{{ commit.id | truncate(length=7, end="") }}](https://github.com/JBChangelogs/JailbreakChangelogs/commit/{{ commit.id }}))
{% endfor %}
{% endfor %}
"""
trim = true
postprocessors = []

[git]
conventional_commits = true
filter_unconventional = false
split_commits = false
commit_parsers = [
    { message = "^feat", group = "Features" },
    { message = "^fix", group = "Bug Fixes" },
    { message = "^doc", group = "Documentation" },
    { message = "^perf", group = "Performance" },
    { message = "^refactor", group = "Refactor" },
    { message = "^style", group = "Styling" },
    { message = "^test", group = "Testing" },
    { message = "^chore", group = "Miscellaneous Tasks" },
    { message = "^revert", group = "Revert" },
    { message = ".*", group = "Other" },
]
filter_commits = false
topo_order = false
sort_commits = "newest"
