#logo {
  opacity: 0;
  animation: fadeIn 3s forwards;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100;
  display: flex;
  margin: 0 auto;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.dev-message {
  font-size: x-large;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(rgb(60, 91, 111), rgb(148, 137, 121));
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  max-width: 800px;
  padding: 20px;
  margin: auto;
  height: 95vh;
  display: flex;
  flex-direction: column;
}
#content {
  flex: 1;
  overflow-y: auto;
}
.light-mode {
  background-color: #f2f2f2;
  color: #333;
}
.dark-mode {
  background-color: #333;
  color: #ddd;
}
#mode-toggle-btn i {
  margin-right: 0.5rem;
}

#mode-toggle-btn.dark-mode i:first-child {
  display: none;
}

#mode-toggle-btn.light-mode i:last-child {
  display: none;
}
header,
section,
footer {
  margin-bottom: 20px;
}

header h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
}

section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
}

li {
  list-style-type: disc;
  margin-bottom: 10px;
}

footer p {
  text-align: center;
  font-size: 1em;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  margin: 0 10px;
  background-color: transparent;
  transition: all 0.3s ease;
}

.blue-button {
  color: #ffffff;
  background-color: #005994;
  border-color: #005994;
  font-weight: bold;
  width: 200px;
}

.orange-button {
  color: #ffffff;
  background-color: #ff5f29;
  border-color: #ff5f29;
  font-weight: bold;
  width: 200px;
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
  }

  .container {
    padding: 10px;
    min-height: 130vh;
    overflow-y: auto;
  }
  header,
  section,
  footer {
    margin-bottom: 10px;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  header h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
  }

  #logo {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  #content {
    flex: 1;
    overflow-y: auto;
  }
  #pagination {
    flex-wrap: wrap;
    justify-content: center;
  }

  #pagination button {
    padding: 6px 10px;
    font-size: 0.8em;
    margin: 5px;
  }

  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }

  button {
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px;
    background-color: transparent;
    transition: all 0.3s ease;
  }
  .blue-button:hover {
    color: #000000;
    background-color: #00407d;
    font-weight: bold;
  }

  .orange-button:hover {
    color: #000000;
    background-color: #e76135;
  }
}

.centered-line {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}
h3 p {
  margin: 0;
}
#pagination {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

#pagination button {
  padding: 8px 12px;
  margin: 0 5px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

#pagination button.active {
  background-color: #007bff;
  color: white;
}
