<div id="loading-overlay" class="show">
  <div class="text-center">
    <img
      src="/assets/logos/JB-Changelogs-Square-150.webp"
      srcset="
        /assets/logos/JB-Changelogs-Square-150.webp 150w,
        /assets/logos/JB-Changelogs-Square-300.webp 300w
      "
      sizes="(max-width: 576px) 150px,
             300px"
      alt="Loading logo"
      class="loading-logo"
      width="300"
      height="300"
    />
  </div>
  <div class="d-flex justify-content-center mt-3">
    <div class="spinner-border custom-spinner" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
<style>
  [data-bs-theme="dark"] #loading-overlay {
    background-color: var(--bg-primary) !important;
  }

  /* Loading Overlay Styles */
  #loading-overlay {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    display: none !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 9999 !important;
    background-color: #ffffff !important;
  }

  #loading-overlay.show {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
  }

  /* Loading Logo Styles */
  #loading-overlay .loading-logo {
    width: 300px !important;
    height: auto !important;
  }

  /* Custom Spinner Styles */
  .custom-spinner {
    width: 50px !important;
    height: 50px !important;
    border-top-color: #124e66 !important;
    border-right-color: #124e66 !important;
    border-bottom-color: #2e3944 !important;
    border-left-color: #2e3944 !important;
  }
  @media (max-width: 576px) {
    #loading-overlay .loading-logo {
      width: 200px !important;
      height: auto !important;
    }

    .custom-spinner {
      width: 30px !important;
      height: 30px !important;
    }
  }

  @media (max-width: 399px) {
    #loading-overlay .loading-logo {
      width: 150px !important;
      height: auto !important;
    }

    .custom-spinner {
      width: 25px !important;
      height: 25px !important;
    }
  }
</style>
