<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-adsense-account" content="ca-pub-8152532464536367">
    
    <!-- Only one meta description tag -->
    <meta name="description" content="Welcome to the Discord Bot Page! Explore our feature-rich bot designed for community engagement, moderation, and fun. Join us to enhance your Discord experience!" />

    <!-- Open Graph metadata for social media sharing -->
    <meta property="og:title" content="Jailbreak Changelogs | Latest Updates & Patch Notes" />
    <meta property="og:description" content="Get updates on Jailbreak's latest features, bug fixes, and balance changes." />
    <meta property="og:image" content="https://res.cloudinary.com/dsvlphknq/image/upload/w_500,f_auto,q_auto/v1727536082/changelogs/changelog-image-344.png" />
    <meta property="og:image:width" content="2328" />
    <meta property="og:image:height" content="1054" />
    <meta property="og:url" content="https://jailbreakchangelogs.xyz" />
    <meta property="og:type" content="website" />

    <meta name="robots" content="index, follow" />

    <!-- Twitter Card metadata -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Jailbreak Changelogs | Latest Updates & Patch Notes" />
    <meta name="twitter:description" content="Get up-to-date information on Jailbreak's latest features, bug fixes, and balance changes. Stay ahead in the game!" />
    <meta name="twitter:image" content="https://res.cloudinary.com/dsvlphknq/image/upload/w_500,f_auto,q_auto/v1727536082/changelogs/changelog-image-344.png" />
    
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <link rel="stylesheet" href="styles/bot.css" />
  </head>


  <body>
    <%- include('partials/nav') %>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="discordOffcanvas"
      aria-labelledby="discordOffcanvasLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="discordOffcanvasLabel">
          Join the Changelogs Discord
        </h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <iframe
          src="https://discord.com/widget?id=1286064050135896064&theme=dark"
          width="100%"
          height="100%"
          allowtransparency="true"
          frameborder="0"
          sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
        >
        </iframe>
      </div>
    </div>

    <div
      class="alert alert-dark text-center p-2 p-sm-3"
      role="alert"
      style="
        margin-bottom: 0;
        background-color: #1a1a1a;
        color: #f8f9fa;
        border-color: #6c757d;
        border-radius: 0px;
      "
    >
      <div class="d-flex align-items-center justify-content-center flex-wrap">
        <i
          class="bi bi-exclamation-triangle-fill me-2"
          style="color: #ffc107"
        ></i>
        <strong class="me-1">Beta Version:</strong>
        <span class="d-inline-block">
          Our Discord bot is currently under development and not yet online.
        </span>
        <span class="ms-1">Stay Tuned!</span>
      </div>
    </div>

    <div class="hero">
      <div class="hero-content">
        <h1>
          <i class="bi bi-discord me-2" style="font-size: 2rem"></i>
          Welcome to our Discord Bot Page
        </h1>
        <p class="lead">
          Your go-to resource for information and updates about our Discord bot!
        </p>
        <a
          class="btn btn-primary btn-custom disabled"
          href="#"
          title="Invite to Your Server (Coming Soon)"
          aria-disabled="true"
          onclick="return false;"
        >
          <i class="bi bi-person-plus-fill me-2"></i> Invite to Your Server
        </a>
      </div>
    </div>

    <div style="background-color: #2e3944; color: white; padding: 40px 0">
      <div class="container">
        <h2 class="text-center mb-4">Bot Features</h2>
        <div class="row justify-content-center">
          <div class="col-md-4 text-center mb-4">
            <div class="feature-icon" style="color: #748d92">
              <i class="bi bi-people-fill"></i>
            </div>
            <h3>
              Crew Tracking <small style="color: #adb5bd">(Coming Soon)</small>
            </h3>
            <p>
              View the stats of your jailbreak crew as well as other players'
              crews directly from the bot, making it easy to keep track of
              without any hassle.
            </p>
          </div>
          <div class="col-md-4 text-center mb-4">
            <div class="feature-icon" style="color: #748d92">
              <i class="bi bi-calendar-event-fill"></i>
            </div>
            <h3>Season Tracking</h3>
            <p>
              Remove the hassle of visiting the website! With season tracking,
              you can view all the latest season content directly from the
              Discord bot.
            </p>
          </div>
          <div class="col-md-4 text-center mb-4">
            <div class="feature-icon" style="color: #748d92">
              <i class="bi bi-file-earmark-text-fill"></i>
            </div>
            <h3>Changelog Tracking</h3>
            <p>
              Stay informed about the latest updates and changes without the
              hassle of visiting external sites. Get instant updates on
              changelogs right from the bot.
            </p>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>
    <script src="scripts/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8152532464536367"
     crossorigin="anonymous"></script>
  </body>
</html>
