<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="google-adsense-account" content="ca-pub-8152532464536367">

    <!-- Open Graph metadata for social media sharing -->
    <meta property="og:title" content="Roblox Jailbreak Changelogs | Latest Updates & Patch Notes" />
    <meta property="og:description" content="Generate and manage your API keys for Jailbreak Changelogs. Access data for Roblox Jailbreak updates and more with secure API integration." />
    <meta property="og:image" content="https://res.cloudinary.com/dsvlphknq/image/upload/f_auto,q_auto,w_500/v1/changelogs/changelog-image-344?_a=BAMCkGcc0" />
    <meta property="og:url" content="https://jailbreakchangelogs.xyz" />
    <meta property="og:type" content="website" />

    <!-- Additional metadata for SEO -->
    <meta name="description" content="Generate and manage your API keys for Jailbreak Changelogs. Access data for Roblox Jailbreak updates and more with secure API integration." />
    <meta name="robots" content="index, follow" />

    <!-- Twitter Card metadata -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Roblox Jailbreak Changelogs | Latest Updates & Patch Notes" />
    <meta name="twitter:image" content="https://res.cloudinary.com/dsvlphknq/image/upload/f_auto,q_auto,w_500/v1/changelogs/changelog-image-344?_a=BAMCkGcc0" />

    <title><%= title %></title>

    <link rel="canonical" href="https://jailbreakchangelogs.xyz/keys" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/keys.css" />
    <link rel="stylesheet" href="styles/navbar.css" />
    <link rel="stylesheet" href="styles/footer.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  </head>
  <body>
    <%- include('partials/nav') %>

    <div class="container content-wrapper">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Api Keys</li>
        </ol>
      </nav>
      <h1>API Key Management</h1>
      <button
        class="btn btn-primary mb-3"
        data-bs-toggle="modal"
        data-bs-target="#createKeyModal"
      >
        Create API Key
      </button>
      <div class="alert alert-info mb-4" role="alert">
        Documentation can be found <a href="https://docs.jailbreakchangelogs.xyz">here.</a>
      </div>
      <div class="table-responsive">
        <table
          class="table table-dark table-bordered table-hover table-striped"
        >
          <thead>
            <tr>
              <th>Manage</th>
              <th>Key</th>
              <th>Name</th>
              <th>Description</th>
              <th>Permissions</th>
              <th>Created At</th>
            </tr>
          </thead>
          <tbody id="apiKeyList">
            <!-- API Keys will be appended here -->
          </tbody>
        </table>
      </div>
    </div>

    <!-- Create API Key Modal -->
    <div
    class="modal fade"
    id="createKeyModal"
    tabindex="-1"
    aria-labelledby="createKeyModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div
        class="modal-content"
        style="background-color: rgba(33, 37, 41, 0.9)"
      >
        <div class="modal-header">
          <h5 class="modal-title" id="createKeyModalLabel">Create API Key</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="keyName" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="keyName"
              placeholder="Enter key name"
            />
          </div>
          <div class="mb-3">
            <label for="keyDescription" class="form-label">Description</label>
            <input
              type="text"
              class="form-control"
              id="keyDescription"
              placeholder="Enter key description"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Permissions</label><br />
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="permChangelog" value="changelog">
              <label class="form-check-label" for="permChangelog">Changelogs</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="permSeasons" value="seasons">
              <label class="form-check-label" for="permUserManagement">Seasons</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="permComments" value="comments">
              <label class="form-check-label" for="permAdmin">Comments</label>
            </div>
            <!-- Add more checkboxes as needed -->
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary" id="createKeyButton">
            Create Key
          </button>
          
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="scripts/api.js"></script>
    <script src="scripts/main.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8152532464536367"
     crossorigin="anonymous"></script>
  </body>
</html>
