<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="description"
      content="Discord Auth page for Jailbreak Changelogs"
    />
    <!-- Open Graph metadata for social media sharing -->
    <meta
      property="og:title"
      content="Jailbreak Changelogs | Discord Authentication Page"
    />
    <meta
      property="og:description"
      content="Discord Auth page for Jailbreak Changelog"
    />
    <meta property="og:image" content="/assets/logos/logos-discord.png" />
    <meta property="og:image:width" content="2328" />
    <meta property="og:image:height" content="1054" />
    <meta property="og:url" content="https://jailbreakchangelogs.xyz/login" />
    <meta property="og:type" content="website" />

    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#124e66" />

    <!-- Twitter Card metadata -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Jailbreak Changelogs | Discord Authentication Page"
    />
    <meta
      name="twitter:description"
      content="Discord Auth page for Jailbreak Changelog"
    />
    <meta name="twitter:image" content="/assets/logos/logos-discord.png" />
    <title>Discord Auth - Changelogs</title>
    <link rel="canonical" href="https://jailbreakchangelogs.xyz/login" />
    <meta name="referrer" content="no-referrer" />
    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/JBChangelogs/JailbreakChangelogs@1.1.26/styles/colors.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/JBChangelogs/JailbreakChangelogs@1.1.19/styles/login.min.css"
    />
    <!-- <link rel="stylesheet" href="/styles/login.css" /> -->
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.css"
      integrity="sha256-IwkvZNRC/3S26O1gWwjBINmrPZ4zYvPX4z/98OKWHkQ="
      crossorigin="anonymous"
    />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>

  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-729QSV9S7B"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-729QSV9S7B");
  </script>

  <body>
    <div class="site-logo">
      <a href="/">
        <img
          src="/assets/logos/JB-Changelogs-480.webp"
          srcset="
            /assets/logos/JB-Changelogs-480.webp 480w,
            /assets/logos/JB-Changelogs-720.webp 720w,
            /assets/logos/JB-Changelogs-933.webp 933w
          "
          sizes="(min-width: 400px) 311px, calc(38.75vw + 164px)"
          alt="<%= logoAlt %>"
          class="navbar-logo"
          width="311"
          height="70"
        />
      </a>
    </div>

    <div class="login-container">
      <div class="auth-toggle">
        <button
          class="auth-toggle-btn"
          onclick="window.location.href='/roblox'"
        >
          Roblox
        </button>
        <button class="auth-toggle-btn active">Discord</button>
      </div>
      <div class="login-header">
        <!-- <h1>Connect Discord</h1> -->
      </div>
      <img
        src="/assets/logos/logos-discord-200.webp"
        srcset="
          /assets/logos/logos-discord-200.webp 200w,
          /assets/logos/logos-discord-400.webp 400w,
          /assets/logos/logos-discord-600.webp 600w
        "
        sizes="(min-width: 1100px) 200px, 150px"
        alt="Discord Logo"
        class="discord-logo"
        width="200"
        height="39"
      />
      <p class="privacy-notice">
        JailbreakChangelogs connects with Discord to build your user profile. We
        only collect your publicly available Discord details. To use our trading
        features, you'll need to link your Roblox account after signing in. Your
        data security is important to us - there's no need to provide a
        password.
      </p>
      <div class="consent-checkboxes">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="ageCheck" />
          <label class="form-check-label" for="ageCheck">
            I am 13 years of age or older
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="tosCheck" />
          <label class="form-check-label" for="tosCheck">
            I agree to the <a href="/tos">Terms of Service</a> and
            <a href="/privacy">Privacy Policy</a>
          </label>
        </div>
      </div>
      <button class="login-button" id="login-button" disabled>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <rect width="24" height="24" fill="none" />
          <path
            fill="currentColor"
            d="M19.27 5.33C17.94 4.71 16.5 4.26 15 4a.1.1 0 0 0-.07.03c-.18.33-.39.76-.53 1.09a16.1 16.1 0 0 0-4.8 0c-.14-.34-.35-.76-.54-1.09c-.01-.02-.04-.03-.07-.03c-1.5.26-2.93.71-4.27 1.33c-.01 0-.02.01-.03.02c-2.72 4.07-3.47 8.03-3.1 11.95c0 .02.01.04.03.05c1.8 1.32 3.53 2.12 5.24 2.65c.03.01.06 0 .07-.02c.4-.55.76-1.13 1.07-1.74c.02-.04 0-.08-.04-.09c-.57-.22-1.11-.48-1.64-.78c-.04-.02-.04-.08-.01-.11c.11-.08.22-.17.33-.25c.02-.02.05-.02.07-.01c3.44 1.57 7.15 1.57 10.55 0c.02-.01.05-.01.07.01c.11.09.22.17.33.26c.04.03.04.09-.01.11c-.52.31-1.07.56-1.64.78c-.04.01-.05.06-.04.09c.32.61.68 1.19 1.07 1.74c.03.01.06.02.09.01c1.72-.53 3.45-1.33 5.25-2.65c.02-.01.03-.03.03-.05c.44-4.53-.73-8.46-3.1-11.95c-.01-.01-.02-.02-.04-.02M8.52 14.91c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.84 2.12-1.89 2.12m6.97 0c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.83 2.12-1.89 2.12"
          />
        </svg>
        Authenticate with Discord
      </button>
    </div>

    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.js"
      integrity="sha256-UnlpkMLasaTx2ZqovxBXUcQ5jq3oKXaZZ1aWENNFETE="
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <!-- Custom Scripts -->
    <script src="https://cdn.jsdelivr.net/gh/JBChangelogs/JailbreakChangelogs@1.1.28/scripts/login.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/JBChangelogs/JailbreakChangelogs@1.1.35/scripts/main.min.js"></script>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8152532464536367"
      crossorigin="anonymous"
    ></script>
  </body>
  <style>
    body,
    html {
      background-image: url("/assets/backgrounds/background4.webp");
    }
  </style>
</html>
