<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="description"
      content="Roblox Auth page for Jailbreak Changelogs"
    />
    <!-- Open Graph metadata for social media sharing -->
    <meta
      property="og:title"
      content="Jailbreak Changelogs | Roblox Authentication Page"
    />
    <meta
      property="og:description"
      content="Roblox Auth page for Jailbreak Changelogs"
    />
    <meta property="og:image" content="/assets/logos/Roblox_Logo.webp" />
    <meta property="og:image:width" content="2328" />
    <meta property="og:image:height" content="1054" />
    <meta property="og:url" content="https://jailbreakchangelogs.xyz/roblox" />
    <meta property="og:type" content="website" />

    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#124e66" />

    <!-- Twitter Card metadata -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Jailbreak Changelogs | Latest Updates & Patch Notes"
    />
    <meta
      name="twitter:description"
      content="Roblox Auth page for Jailbreak Changelogs"
    />
    <meta name="twitter:image" content="/assets/logos/Roblox_Logo.webp" />
    <title>Roblox Auth - Changelogs</title>
    <link rel="canonical" href="https://jailbreakchangelogs.xyz/login" />
    <meta name="referrer" content="no-referrer" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.css"
      integrity="sha256-IwkvZNRC/3S26O1gWwjBINmrPZ4zYvPX4z/98OKWHkQ="
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/JBChangelogs/JailbreakChangelogs@1.0.20/styles/colors.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/JBChangelogs/JailbreakChangelogs@1.1.19/styles/roblox.min.css"
    />

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KM853GJ6");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <div class="site-logo">
      <a href="/">
        <img
          src="/assets/logos/JB-Changelogs-480.webp"
          srcset="
            /assets/logos/JB-Changelogs-480.webp 480w,
            /assets/logos/JB-Changelogs-720.webp 720w,
            /assets/logos/JB-Changelogs-933.webp 933w
          "
          sizes="(min-width: 400px) 311px, calc(38.75vw + 164px)"
          alt="<%= logoAlt %>"
          class="navbar-logo"
          width="311"
          height="70"
        />
      </a>
    </div>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KM853GJ6"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="login-container">
      <div class="auth-toggle">
        <button class="auth-toggle-btn active">Roblox</button>
        <button class="auth-toggle-btn" onclick="window.location.href='/login'">
          Discord
        </button>
      </div>
      <div class="login-header">
        <!-- <h1>Connect Roblox</h1> -->
      </div>
      <img
        src="/assets/logos/Roblox_Logo.webp"
        alt="Roblox Logo"
        class="roblox-logo"
      />
      <p class="privacy-notice">
        JailbreakChangelogs connects with Roblox to build your user profile. We
        only collect your publicly available Roblox details to enhance your
        trading experience. Your data security is important to us - there's no
        need to provide a password.
      </p>
      <div class="consent-checkboxes">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="ageCheck" />
          <label class="form-check-label" for="ageCheck">
            I am 13 years of age or older
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="tosCheck" />
          <label class="form-check-label" for="tosCheck">
            I agree to the <a href="/tos">Terms of Service</a> and
            <a href="/privacy">Privacy Policy</a>
          </label>
        </div>
      </div>
      <button class="login-button" id="button" disabled>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <rect width="24" height="24" fill="none" />
          <path
            fill="currentColor"
            d="M18.926 23.998L0 18.892L5.075.002L24 5.108ZM15.348 10.09l-5.282-1.453l-1.414 5.273l5.282 1.453z"
          />
        </svg>
        Authenticate with Roblox
      </button>
    </div>

    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.js"
      integrity="sha256-UnlpkMLasaTx2ZqovxBXUcQ5jq3oKXaZZ1aWENNFETE="
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <!-- Custom Scripts -->
    <script src="/scripts/main.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/JBChangelogs/JailbreakChangelogs@1.0.18/scripts/roblox.min.js"></script>

    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8152532464536367"
      crossorigin="anonymous"
    ></script>
  </body>
  <style>
    body,
    html {
      background-image: url("/assets/backgrounds/background8.webp");
    }
  </style>
</html>
