/* api.css */
[data-bs-theme="dark"] body {
    --common-bg-color: #2e3944; /* Dark background */
    --content-h1: #d3d9d4; /* Lighter Blue for Dark Mode */
    --content-h2: #748d92; /* Softer Red for Dark Mode */
    --content-h3: #748d92; /* Light Gray for H3 and Paragraph Text */
    --content-paragraph: #d3d9d4; /* Light Gray for Paragraphs */
    --content-bullet: #748d92; /* Lighter Blue for Bullets */
    --content-sub-bullet: #748d92; /* Softer Red for Bullets */
    --text-color: #ffffff; /* White Text */
  
    --header-text: #ffffff; /* White for Header Text */
    --button-primary-bg: #124e66; /* Dark Blue for Primary Button Background */
    --button-primary-text: #eeeeee; /* White for Primary Button Text */
    --button-primary-hover-bg: #212a31; /* Darker Blue for Hover */
    /* Mention Colors */
    --mention-color: #748d92; /* Teal color for Mentions */
    --mention-bg: #212a31; /* Dark blue-gray for Mention Background */
    --at-color: #d3d9d4; /* Bright teal for '@' Symbol */
    --username-color: #76abae; /* Soft cyan for Username */
    --mention-hover-bg: #124e66; /* Hover Background Color for Mentions */
  
    --highlight-bg: rgba(
      255,
      165,
      0,
      0.4
    ); /* Semi-transparent Orange for Highlights */
    --highlight-text: #ffffff; /* White for Highlighted Text */
    --selection-bg: #4682b4; /* Steel Blue for Selection Background */
    --selection-text: #ffffff; /* White for Selection Text */
    --glow-color: #4b4b4b; /* Dark Gray for Glow Effects */
  
    /* Social Media Colors */
    --reddit-color: #ff4500; /* Reddit Orange */
    --discord-color: #7289da; /* Discord Blurple */
    --wiki-color: #8ab4f8; /* Lighter Wiki Blue */
    --github-color: #ffffff; /* GitHub White */
  
    /* Gray Scale */
    --gray-100: #333333; /* Very Dark Gray */
    --gray-200: #444444; /* Darker Gray */
    --gray-300: #555555; /* Dark Gray */
    --gray-400: #666666; /* Gray */
    --gray-500: #777777; /* Medium Gray */
    --gray-600: #888888; /* Slate Gray */
    --gray-700: #999999; /* Light Slate Gray */
    --gray-800: #aaaaaa; /* Light Gray */
    --gray-900: #bbbbbb; /* Very Light Gray */
  }
/* Basic Reset */
body {
    margin: 0;
    padding: 0;
    font-family: var(--bs-body-font-family);
    background-color: #2e3944; /* Dark background */
    color: #ffffff; /* Light text */
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #212a31 !important; /* Hover state for primary button */
  border-color: #212a31 !important; /* Border color on hover */
}

.btn:hover {
	color: var(--bs-btn-hover-color);
	background-color: var(--bs-btn-hover-bg);
	border-color: var(--bs-btn-hover-border-color);
}

.nav-link {
	color: #d3d9d4;
	/* border: none; */
	transition: background-color 0.3s ease;
}

.nav-link {
	display: block;
	padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
	font-size: var(--bs-nav-link-font-size);
	font-weight: var(--bs-nav-link-font-weight);
	color: var(--bs-nav-link-color);
	text-decoration: none;
	background: 0 0;
	border: 0;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.custom-navbar-color .navbar-toggler {
    border-color: #748d92; /* Border color for the toggler */
  }
  
  .custom-navbar-color .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

.navbar-nav {
	--bs-nav-link-padding-x: 0;
	--bs-nav-link-padding-y: 0.5rem;
	--bs-nav-link-font-weight: ;
	--bs-nav-link-color: var(--bs-navbar-color);
	--bs-nav-link-hover-color: var(--bs-navbar-hover-color);
	--bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
	list-style: none;
}

.custom-navbar-color .navbar-nav .nav-link {
	color: #d3d9d4;
	/* transition: color 0.3s ease; */
}
.custom-navbar-color .navbar-nav .nav-link:hover, .custom-navbar-color .navbar-nav .nav-link:focus {
	color: #ffffff;
}

.nav-link:focus, .nav-link:hover {
	color: var(--bs-nav-link-hover-color);
}

/* Navbar styles */
.ms-auto {
	margin-left: auto !important;
}

.navbar-logo {
    height: 40px; /* Logo height */
}

/* Content Wrapper */
.content-wrapper {
    padding: 20px;
}


.table {
    border-collapse: collapse;
    border-radius: 15px; /* Adjust the value for more or less rounding */

}

thead {
    background-color: #343a40; /* Dark background */
    color: #ffffff; /* White text */
}

thead th {
    padding: 15px; /* Padding for header cells */
    text-align: left; /* Align text to the left */
    border: none; /* Remove default borders */
    border-bottom: 2px solid #ffffff; /* White bottom border for separation */
    font-family: "Luckiest Guy", Arial, sans-serif; /* Custom font */
    font-size: 18px; /* Font size for headers */
}

thead th:hover {
    background-color: #495057; /* Change background on hover */
}

/* Table styles */

.table th,
.table td {
    vertical-align: middle; /* Center table content */
}

.table-dark {
    background-color: #343a40; /* Darker table background */
}

.table-dark th {
    background-color: #495057; /* Dark header */
}

/* Modal styles */
.modal-content {
    border-radius: 10px; /* Rounded corners for modal */
}

.modal-header {
    border-bottom: none; /* Remove border */
}

.modal-footer {
    border-top: none; /* Remove border */
}

/* Button styles */


.btn-secondary {
    background-color: #6c757d; /* Secondary button color */
    border-color: #6c757d; /* Secondary button border */
}

.btn-secondary:hover {
    background-color: #5a6268; /* Secondary button hover color */
    border-color: #5a6268; /* Secondary button hover border */
}

/* Media Queries */
@media (max-width: 576px) {
    .navbar-nav {
        flex-direction: column; /* Stack navbar items on mobile */
    }

    .navbar-logo {
        height: 30px; /* Smaller logo on mobile */
    }
}

.admin-link-v3 {
    color: var(--username-color);
    font-weight: bold;
    transition: color 0.3s;
  }
  .admin-link-jz {
    color: var(--username-color);
    font-weight: bold;
    transition: color 0.3s;
  }
  /* Reddit Link Styles */
  .reddit-link {
    color: var(--reddit-color);
    text-decoration: none;
  }
  
  .reddit-link:hover {
    color: #ffffff; /* White text on hover */
    background-color: var(--reddit-color); /* Reddit Orange background */
    transform: scale(1.05); /* Slightly larger */
  }
  /* Discord Link Styles */
  .discord-link {
    color: var(--discord-color);
    text-decoration: none;
  }
  
  .discord-link:hover {
    color: #ffffff; /* White text on hover */
    background-color: var(--discord-color); /* Discord Blurple background */
    transform: scale(1.05); /* Slightly larger */
  }
  /* Wiki Link Styles */
  .wiki-link {
    color: var(--wiki-color);
    text-decoration: none;
  }
  
  .wiki-link:hover {
    color: #ffffff; /* White text on hover */
    background-color: var(--wiki-color); /* Wiki Blue background */
    transform: scale(1.05); /* Slightly larger */
  }
  /* GitHub Link Styles */
  .github-link {
    color: var(--github-color);
    text-decoration: none;
  }

  h1 {
    font-family: "Luckiest Guy", Arial, sans-serif;
    font-size: 36px; /* Increase font size */
    color: var(--content-h1);
  }
  
  .github-link:hover {
    color: #ffffff; /* White text on hover */
    background-color: #000000; /* True black background */
    transform: scale(1.05); /* Slightly larger */
  }
  /* Quick Links background */
  .card-header.bg-secondary {
    background-color: #212a31 !important; /* Dark blue-gray background */
    color: #ffffff; /* White text */
  }
  
  /* Quick Links card body */
  .card-body {
    background-color: #2e3944; /* Darker background for the body */
    color: #d3d9d4; /* Light gray text */
  }
  /* Accordion headers */
  .accordion-button {
    background-color: #212a31 !important; /* Dark blue-gray background */
    color: #ffffff !important; /* White text */
  }
  
  /* Accordion bodies */
  .accordion-body {
    background-color: #2e3944; /* Darker background for the body */
    color: #d3d9d4; /* Light gray text */
  }
  
  /* Accordion item borders */
  .accordion-item {
    border-color: #4a4a4a; /* Darker border color */
  }

  .container {
    border-radius: 15px; /* Rounded corners for the container */
    padding: 30px; /* Add space inside the container */
    box-shadow: 0 0 20px #000000c7; /* Subtle shadow for depth */
  }

 .custom-navbar-color {
	background-color: #212a31;
	color: #ffffff;
}