
body {
  background-color: #212A31; /* Very dark blue-gray */
  color: #D3D9D4; /* Very light grayish-green for text */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  padding: 2rem;
  background-color: #2E3944; /* Dark grayish-blue */
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increased shadow for more contrast */
}

h1 {
  margin-bottom: 1rem;
  color: #D3D9D4; /* Light grayish-green for better visibility */
}

p {
  font-size: 1.2rem;
  color: #D3D9D4; /* Light grayish-green for better readability */
}

#countdown {
  font-size: 2rem;
  font-weight: bold;
  color: #D3D9D4;
}

/* Styling for the "Click here" link */
a {
  color: #748D92; 
  text-decoration: none; /* Remove underline */
  font-weight: bold;
}

a:hover {
  color: #81C784; /* Lighter green when hovered */
  text-decoration: underline; /* Underline on hover */
}

a:visited {
  color: #748D92;
}