/* Adjust the body when menu is opened */
body.menu-open {
  overflow: hidden;
}
body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--text-body);
}
.accordion-button {
  background-color: var(--bg-secondary) !important;
  color: var(--text-body) !important;
}
.accordion-button:not(.collapsed) {
  background-color: var(--accent-color) !important;
  color: var(--text-body) !important;
}
.accordion-body {
  background-color: rgba(
    var(--bg-secondary),
    0.9
  ); /* --bg-secondary with opacity */
  color: var(--text-body);
}
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.flex-grow {
  flex-grow: 1;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
}
.content-wrapper {
  background-color: var(--bg-primary);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.btn-primary {
  background-color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
}
.btn-primary:hover {
  background-color: var(--bg-secondary) !important;
  border-color: var(--bg-secondary) !important;
}
.card {
  background-color: rgba(
    var(--bg-primary),
    0.9
  ); /* --bg-primary with opacity */
  border-color: var(--text-muted);
}
.card-header {
  background-color: var(--bg-secondary);
  border-color: var(--text-muted);
}
.faq-item {
  margin-bottom: 20px;
}
.faq-question,
.faq-answer {
  display: flex;
  align-items: flex-start;
}
.faq-symbol-container {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-symbol {
  width: 40px;
  height: 40px;
  border: 3px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
}

.q-symbol {
  color: #ff341c;
}
.a-symbol {
  color: #31b1ff;
}
.question-text,
.answer-text {
  flex: 1;
  margin: 0;
}

.question-text {
  font-size: 1.2em;
  color: var(--text-body);
  font-weight: bold;
}
.answer-text {
  font-size: 1em;
  color: var(--text-body);
}

.accordion-button::after {
  color: var(--text-body);
}
