.bg-gradient-dark {
    background: #212a31;
  }
  .footer-heading {
    color: #ff341c;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .footer-link {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
    transition: color 0.3s ease;
  }
  .footer-link:hover {
    transform: translateX(5px);
  }
  .reddit-hover:hover { color: #FF4500; }
  .discord-hover:hover { color: #5865F2; }
  .wiki-hover:hover { color: #007bff; }
  .apidoc-hover:hover { color: #8bc34a; }
  .faq-hover:hover { color: #ffcc00; } /* Gold color for FAQ */
  .bot-hover:hover { color: #00ccff; } /* Light blue for Our Discord Bot */

  .owner-link:hover {
    color: #fff !important;
    text-decoration: underline;
  }
  
  .owner-link {
    color: #30aefb;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .contribute-btn {
    transition: all 0.3s ease;
    border-width: 2px;
  }
  .contribute-btn:hover {
    background-color: #fff;
    color: #000;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .footer-links a {
    transition: all 0.3s ease;
  }
  .footer-links a:hover {
    color: #ffd700 !important;
  }
  @media (max-width: 768px) {
    .footer-heading {
      margin-top: 1rem;
    }
  }