body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #212a3100; /* Main background */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://cdn.jailbreakchangelogs.xyz/backgrounds/background4.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.login-container {
  background: rgba(46, 57, 68, 0.9); /* Dark grayish-blue */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  position: relative;
  z-index: 2;
  backdrop-filter: blur(10px);
}
.login-header {
  text-align: center;
  margin-bottom: 2rem;
}
.login-header h1 {
  color: #d3d9d4; /* Deep teal */
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.login-header p {
  color: #d3d9d4; /* Light grayish-green */
  font-size: 1rem;
}
.login-button {
  background-color: #124e66; /* Deep teal */
  color: #d3d9d4; /* Light grayish-green */
  border: none;
  padding: 12px 20px;
  border-radius: 24px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}
.login-button i {
  margin-right: 8px; /* Add space between the icon and the text */
  font-size: 1.2rem; /* Adjust icon size */
  vertical-align: middle;
}

.login-button:hover {
  background-color: #212a31; /* Medium grayish-blue */
}
.features {
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(
    116,
    141,
    146,
    0.1
  ); /* Medium grayish-blue with transparency */
  border-radius: 8px;
}
.features h2 {
  color: #d3d9d4; /* Deep teal */
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.features ul {
  color: #d3d9d4; /* Light grayish-green */
  padding-left: 1.5rem;
}
.footer {
  margin-top: 2rem;
  text-align: center;
}
.footer a {
  color: #d3d9d4; /* Deep teal */
  text-decoration: none;
  margin: 0 10px;
  font-size: 0.9rem;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}
.footer a:hover {
  color: #748d92; /* Medium grayish-blue */
  text-decoration: underline;
}
