/* Dark Theme Colors */
[data-bs-theme="dark"] body {
  --common-bg-color: #2e3944; /* Dark background */
  --content-h1: #d3d9d4; /* Lighter Blue for Dark Mode */
  --content-h2: #748d92; /* Softer Red for Dark Mode */
  --content-h3: #748d92; /* Light Gray for H3 and Paragraph Text */
  --content-paragraph: #d3d9d4; /* Light Gray for Paragraphs */
  --content-bullet: #748d92; /* Lighter Blue for Bullets */
  --content-sub-bullet: #748d92; /* Softer Red for Bullets */
  --text-color: #ffffff; /* White Text */

  --header-text: #ffffff; /* White for Header Text */
  --button-primary-bg: #124e66; /* Dark Blue for Primary Button Background */
  --button-primary-text: #eeeeee; /* White for Primary Button Text */
  --button-primary-hover-bg: #212a31; /* Darker Blue for Hover */
  /* Mention Colors */
  --mention-color: #748d92; /* Teal color for Mentions */
  --mention-bg: #212a31; /* Dark blue-gray for Mention Background */
  --at-color: #d3d9d4; /* Bright teal for '@' Symbol */
  --username-color: #76abae; /* Soft cyan for Username */
  --mention-hover-bg: #124e66; /* Hover Background Color for Mentions */

  --highlight-bg: rgba(
    255,
    165,
    0,
    0.4
  ); /* Semi-transparent Orange for Highlights */
  --highlight-text: #ffffff; /* White for Highlighted Text */
  --selection-bg: #4682b4; /* Steel Blue for Selection Background */
  --selection-text: #ffffff; /* White for Selection Text */
  --glow-color: #4b4b4b; /* Dark Gray for Glow Effects */

  /* Gray Scale */
  --gray-100: #333333; /* Very Dark Gray */
  --gray-200: #444444; /* Darker Gray */
  --gray-300: #555555; /* Dark Gray */
  --gray-400: #666666; /* Gray */
  --gray-500: #777777; /* Medium Gray */
  --gray-600: #888888; /* Slate Gray */
  --gray-700: #999999; /* Light Slate Gray */
  --gray-800: #aaaaaa; /* Light Gray */
  --gray-900: #bbbbbb; /* Very Light Gray */
}

[data-bs-theme="dark"] #loading-overlay {
  background-color: #2e3944; /* Dark Background for Loading Overlay */
}
[data-bs-theme="dark"] body {
  background-color: var(--common-bg-color);
}

[data-bs-theme="dark"] #main-container {
  background-color: var(--common-bg-color);
}

[data-bs-theme="dark"] .badge {
  color: var(--text-color); /* White text for dark theme */
}

[data-bs-theme="dark"] .custom-search-input::placeholder {
  color: #aaa; /* Lighter placeholder text for dark theme */
}
#clearFilters:disabled {
  cursor: not-allowed;
}
#content-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#content {
  flex: 1;
  min-width: 0;
}
#content h1,
#content h2,
#content h3 {
  font-family: "Luckiest Guy", Arial, Helvetica, sans-serif;
  color: #d3d9d4;
}
/* Custom Subheader Styles */
.text-custom-subheader {
  color: var(--custom-subheader-color); /* Custom color for subheaders */
}

/* Custom Icon Color */
.text-custom-icon {
  color: var(--custom-icon-color); /* Custom color for icons */
}

.btn-primary {
  background-color: var(
    --button-primary-bg
  ) !important; /* Primary button background */
  border-color: var(--button-primary-bg) !important; /* Primary button border */
  color: var(--button-primary-text) !important; /* Primary button text color */
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: var(
    --button-primary-hover-bg
  ) !important; /* Hover state for primary button */
  border-color: var(
    --button-primary-hover-bg
  ) !important; /* Border color on hover */
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(var(--glow-color), 0.5); /* Glow effect on focus */
}

/* Text Selection Styles */
::selection {
  background-color: var(
    --selection-bg
  ) !important; /* Background color for selected text */
  color: var(--selection-text) !important; /* Text color for selected text */
}

/* SVG Icon Styles */
.svg-icon {
  fill: var(--text-color) !important; /* Fill color for SVG icons */
  stroke: var(--button-primary-bg) !important; /* Stroke color for SVG icons */
}

/* Semi-Transparent Background */
.semi-transparent-bg {
  background-color: rgba(
    var(--glow-color),
    0.5
  ) !important; /* Semi-transparent background */
}

/* Custom Spinner Styles */
.custom-spinner {
  width: 50px;
  height: 50px;
  border-top-color: #31b1ff; /* Blue color for top border */
  border-right-color: #31b1ff; /* Blue color for right border */
  border-bottom-color: #ff341c; /* Orange color for bottom border */
  border-left-color: #ff341c; /* Orange color for left border */
}

/* Loading Overlay Styles */
#loading-overlay {
  position: fixed; /* Fixed positioning */
  top: 0; /* Align to top */
  left: 0; /* Align to left */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  display: none; /* Hidden by default */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  z-index: 9999; /* High stacking context */
  background-color: #ffffff; /* White background */
}

#loading-overlay.show {
  display: flex; /* Enable flexbox when shown */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: 100vh; /* Full height for overlay */
}

/* Loading Logo Styles */
#loading-overlay .loading-logo {
  width: 300px; /* Adjust width for logo */
  height: auto; /* Maintain aspect ratio */
}
.breadcrumb {
  border-radius: 0.25rem;
  padding: 12px 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: fit-content;
  margin: 0;
}

.breadcrumb-item {
  margin-right: 15px;
  font-size: 16px;
  position: relative;
}

.breadcrumb-item:not(:last-child)::after {
  content: "›";
  color: #6c757d;
  margin-left: 15px;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s, opacity 0.3s;
  opacity: 0.8;
}

.breadcrumb-item a:hover {
  color: #ffffff;
  opacity: 1;
}

.breadcrumb-item.active {
  color: #ffffff;
  font-weight: 600;
  opacity: 1;
}

/* Adjust the body when menu is opened */
body.menu-open {
  overflow: hidden;
}
/* Responsive Heading Styles */
.responsive-heading {
  font-size: 2.5rem; /* Large font size for headings */
}

/* Responsive Text Styles */
.responsive-text {
  font-size: 1rem; /* Standard font size for text */
}
/* Ensure long words in comments don't overflow their container */
.list-group-item {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Style the main container for the comment section */
.container {
  border-radius: 15px; /* Rounded corners for the container */
  padding: 30px; /* Add space inside the container */
}

/* Content Area Styles */
#content {
  flex: 1; /* Flexible item */
  min-width: 0; /* Prevent overflow */
}
/* Row Styles */
.row {
  margin-left: 0; /* Reset left margin */
  margin-right: 0; /* Reset right margin */
}
thead {
  background-color: #e0e0e0; /* Dark background */
  color: #ffffff; /* White text */
  letter-spacing: 1.5px;
}

thead th {
  padding: 15px; /* Padding for header cells */
  text-align: left; /* Align text to the left */
  border: none; /* Remove default borders */
  border-bottom: 2px solid #ffffff; /* White bottom border for separation */
  font-family: "Luckiest Guy", Arial, sans-serif; /* Custom font */
  font-size: 18px; /* Font size for headers */
}

thead th:hover {
  background-color: #495057; /* Change background on hover */
}
/* Table styles */

.table th,
.table td {
  vertical-align: middle; /* Center table content */
  padding: 10px; /* Padding for table cells */
  border: none; /* Remove default borders */
  border-bottom: 1px solid #000000; /* Light gray bottom border for separation */
}

.table-dark {
  background-color: #343a40; /* Darker table background */
}

.table-dark th {
  background-color: #495057; /* Dark header */
}

/* Body Text Styles */
body,
p,
span {
  color: var(--text-color); /* Default text color */
}

/* Navbar Form Control Styles */
.navbar .form-control {
  background-color: rgba(255, 255, 255, 0.1); /* Background color */
  border-color: rgba(255, 255, 255, 0.1); /* Border color */
  color: #fff; /* Text color */
}

.navbar .form-control::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Placeholder color */
}

.navbar .input-group-text {
  color: rgba(255, 255, 255, 0.7); /* Color for input group text */
}

/* Input Group Styles */
.input-group {
  position: relative; /* Relative positioning */
}

/* Remove Outline for All Elements */
* {
  outline: none; /* Remove default outline */
}

/* Focus Styles for Interactive Elements */
button:focus,
a:focus,
input:focus,
select:focus {
  box-shadow: none; /* Remove box shadow on focus */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .quick-links .btn-link {
    font-size: 0.9rem; /* Font size for quick links */
  }
  #loading-overlay .loading-logo {
    width: 200px;
  }
  .custom-spinner {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 576px) {
  .breadcrumb {
    padding: 10px 15px;
  }
  .breadcrumb-item {
    font-size: 14px;
    margin-right: 10px;
  }
  .breadcrumb-item:not(:last-child)::after {
    margin-left: 10px;
  }
}

@media (max-width: 400px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}
