.btn-primary {
  background-color: #032b44;
  border-color: #032b44; /* Border color on hover */
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #212a31 !important; /* Hover state for primary button */
  border-color: #212a31 !important; /* Border color on hover */
}
body {
  background-color: #2e3944;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    33,
    42,
    49,
    0.8
  ); /* Add this for a semi-transparent background */
}

.custom-spinner {
  width: 50px;
  height: 50px;
  border: 4px solid transparent;
  border-radius: 50%;
  border-top-color: #31b1ff;
  border-right-color: #31b1ff;
  border-bottom-color: #ff341c;
  border-left-color: #ff341c;
  animation: spin 1s linear infinite;
}
.breadcrumb {
  border-radius: 0.25rem;
  padding: 12px 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: fit-content;
  margin: 0;
}

.breadcrumb-item {
  margin-right: 15px;
  font-size: 16px;
  position: relative;
}

.breadcrumb-item:not(:last-child)::after {
  content: "›";
  color: #6c757d;
  margin-left: 15px;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s, opacity 0.3s;
  opacity: 0.8;
}

.breadcrumb-item a:hover {
  color: #ffffff;
  opacity: 1;
}

.breadcrumb-item.active {
  color: #ffffff;
  font-weight: 600;
  opacity: 1;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.results {
  min-height: 200px;
  position: relative;
}

.cursive {
  font-size: 0.8rem; /* make the text smaller */
  font-style: italic; /* make the text cursive */
}

/* Adjust the body when menu is opened */
body.menu-open {
  overflow: hidden;
}
.user-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 15px;
}
.user-card {
  background-color: #2C2F33;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 100%; /* Ensure the card takes full width */
}
.user-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.user-avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 2px solid #7289DA;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.user-info {
  flex-grow: 1;
  min-width: 0; /* Allows text to wrap properly */
}
.user-name {
  font-weight: 600;
  color: #FFFFFF;
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-username {
  font-size: 0.9rem;
  color: #99AAB5;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.view-profile-btn {
  background-color: #124E66;
  border-color: #748D92;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out;
  white-space: nowrap;
}


.search-box {
  background-color: #212529;
}

.no-results-message {
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .search-box {
    width: 100% !important;
  }
  #loading-overlay .loading-logo {
    width: 200px;
  }
  .custom-spinner {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 576px) {
  .user-card {
    width: 100%;
  }
  .user-avatar {
    width: 50px;
    height: 50px;
  }
  .user-name {
    font-size: 1rem;
  }
  .user-username {
    font-size: 0.8rem;
  }
  .view-profile-btn {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
  }
  .breadcrumb {
    padding: 10px 15px;
  }
  .breadcrumb-item {
    font-size: 14px;
    margin-right: 10px;
  }
  .breadcrumb-item:not(:last-child)::after {
    margin-left: 10px;
  }
}